:host,
:host > span {
  position: relative;
}

:host {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  font-size: 0;
  color: currentColor;
}

:host > span {
  position: absolute;
  display: inline-block;
  float: none;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: currentColor;
  border: 0 solid currentColor;
}

:host([xxs]),
:host([xxs]) > span {
  width: .7rem;
  height: .7rem;
}

:host([xs]),
:host([xs]) > span {
  width: 1.2rem;
  height: 1.2rem;
}

:host([sm]),
:host([sm]) > span {
  width: 3rem;
  height: 3rem;
}

:host([md]),
:host([md]) > span {
  width: 5rem;
  height: 5rem;
}

:host([lg]),
:host([lg]) > span {
  width: 8rem;
  height: 8rem;
}

:host([xl]),
:host([xl]) > span {
  width: 13rem;
  height: 13rem;
}
