:host([onlight]) {
  color: var(--ds-color-ui-default-default, $ds-color-ui-default-default);
}

:host([ondark]) {
  color: var(--ds-color-ui-default-inverse, $ds-color-ui-default-inverse);
}

:host([white]) {
  color: var(--ds-color-base-white, $ds-color-base-white);
}
