:host([onlight]) {
  color: var(--ds-auro-loader-color-default);
}

:host([ondark]) {
  color: var(--ds-auro-loader-color-inverse);
}

:host([white]) {
  color: var(--ds-auro-loader-color-base-white);
}
