:host([orbit]),
:host([orbit]) > span {
    opacity: 1;
}

:host([orbit]) > span {
    background: transparent;
    border-width: 5px;
}

:host([orbit]) > span:nth-child(1) {
  border-color: currentcolor;
  opacity: 0.25;
}

:host([orbit]) > span:nth-child(2) {
  border-color: currentcolor;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: orbit 2s linear infinite;
}

:host([orbit][sm]) > span {
  border-width: 8px;
}

:host([orbit][md]) > span {
  border-width: 13px;
}

:host([orbit][lg]) > span {
  border-width: 21px;
}

:host([orbit][xl]) > span {
  border-width: 34px;
}

@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
