:host([pulse]),
:host([pulse]) > span {
  position: relative;
}

:host([pulse]) {
  width: 4.75rem;
  height: 1.5rem;
}

:host([pulse]) > span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
  float: none;
  animation: pulse 1s ease infinite;
}

:host([pulse][sm]) {
  width: 7.5rem;
  height: 2.5rem;
}

:host([pulse][sm]) > span {
  width: 2rem;
  height: 2rem;
}

:host([pulse][md]) {
  width: 10.5rem;
  height: 3.5rem;
}

:host([pulse][md]) > span {
  width: 3rem;
  height: 3rem;
}

:host([pulse][lg]) {
  width: 16.5rem;
  height: 5.5rem;
}

:host([pulse][lg]) > span {
  width: 5rem;
  height: 5rem;
}

:host([pulse]) > span:nth-child(1) {
  animation-delay: -200ms;
}

:host([pulse]) > span:nth-child(2) {
  animation-delay: -100ms;
}

:host([pulse]) > span:nth-child(3) {
  animation-delay: 0ms;
}

@keyframes pulse {
  0%,
  60%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    opacity: .1;
    transform: scale(.01);
  }
}
