:host {
  --ds-auro-loader-color-default: var(--ds-color-ui-default-default); // What should this really be set to in the new tier 2 naming structure?
  --ds-auro-loader-color-inverse: var(--ds-color-brand-breeze-300); // What should this really be set to in the new tier 2 naming structure?
  --ds-auro-loader-color-base-white: var(--ds-color-base-white); // What should this really be set to in the new tier 2 naming structure?
}