// Import Auro tokens
@import "../../node_modules/@alaskaairux/design-tokens/dist/tokens/SCSSVariables";
@import "../../node_modules/@alaskaairux/design-tokens/dist/tokens/SassCustomProperties";

@import "../../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables";
@import "../../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SassCustomProperties";

@import "../../node_modules/@alaskaairux/design-tokens/dist/tokens/SCSSVariables.scss";


// Import baseline library dependencies
// Mixins
@import "../../node_modules/@aurodesignsystem/webcorestylesheets/src/breakpoints";

// Creates baseline output in CSS
@import "../../node_modules/@aurodesignsystem/webcorestylesheets/src/fonts";
@import "../../node_modules/@aurodesignsystem/webcorestylesheets/src/normalize";
@import "../../node_modules/@aurodesignsystem/webcorestylesheets/src/essentials";

// Import Utility classes (will produce CSS in output)
$layout-properties: margin;
$layout-extensions: Right;
$layout-modifiers: (
  "md": $ds-size-200
);

@import "../../node_modules/@aurodesignsystem/webcorestylesheets/src/utilityMixins/layoutPropertiesGenerator";

// Custom styles per demo pages
code {
  color: var(--auro-color-base-crimson-500);
}

.vertical-section-container {
  margin: 0 auto;
  max-width: 	82.5rem;
}
